.dialog-container {
  background-color: rgba(45, 45, 45, 1);
  color: rgba(245, 245, 245, 0.9);
}

h1, h2 {
  color: rgba(245, 245, 245, 0.9);
}

.select {
  padding: 0;
  color: rgba(245, 245, 245, 0.9);
}

.dialog-actions {
  padding: 0;
}

.dialog-actions button {
  background-color: rgba(245, 245, 245, 0.9);
}
