<div mat-dialog-content class="product-dialog">
  <img [src]='data.picture' alt="Product picture" class="product-image">
  <div class="product-information">
    <h1>{{ data.name }}</h1>
    <p class="product-price">{{ data.price }} Ft</p>
    <p>{{ data.description }}</p>
  </div>
  <div class="product-actions">
    <div class="minus-div-add">
      <button [disabled]="data.isEnabled" class="quantity-button" (click)="subtractProduct()">
        -
      </button>
      <div class="quantity">
        {{ quantity }}
      </div>
      <button [disabled]="data.isEnabled" class="quantity-button" (click)="addProduct()">
        +
      </button>
    </div>
    <button [disabled]="data.isEnabled" type="submit" class="submit-button">
      <div class="submit-text">Add to cart</div>
      <div class="submit-price">{{ quantity * data.price }} Ft</div>
    </button>
  </div>

</div>
