<div [routerLink]="['/restaurants/details/' + restaurant?.id]" class="card">
  <div class="image-panel">
    <img [src]='restaurant?.logo' alt="Here should be the restaurant's logo">
  </div>
  <div class="info-panel">
    <div class="restaurant-name-and-short-desc">
      <div class="restaurant-name">{{ restaurant?.name }}</div>
      <div class="restaurant-description">
        {{ restaurant?.description }}
      </div>
    </div>
    <div class="rating">
      @for (_ of [].constructor(restaurant?.priceCategory); track $index) {
        $
      }
    </div>
  </div>
</div>
