.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  gap: 2rem;

  .description {
    min-height: 150px;
  }

  .restaurant-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1rem;

    h1 {
      align-self: center;
    }
  }

  .file-uploads {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .time-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .time-row {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 250px;
    }

    .day {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }

    .time-inputs {
      display: flex;
      flex-direction: column;
    }
  }
}
