<h1>New restaurants:</h1>
<div class="slider-container">
  <img ngSrc="./assets/left-arrow.svg" alt="left navigational arrow" height="36" width="36"
       [ngClass]="scrollPosition <= 0 ? 'visible' : ''"
       class="scroll-btn left"
       (click)="scrollLeft()" />
  <div class="slider-wrapper" #sliderWrapper [scrollLeft]="scrollPosition">
    <div class="slider-content">
      @for (restaurant of _allRestaurants; track restaurant.id) {
        <app-restaurant-card class="slider-items" [restaurant]="restaurant"></app-restaurant-card>
      }
    </div>
  </div>
  <img ngSrc="./assets/right-arrow.svg" alt="right navigational arrow" height="36" width="36"
       [ngClass]="scrollPosition >= maxScroll ? 'visible' : ''"
       class="scroll-btn right"
       (click)="scrollRight()" />
</div>
