
.product-dialog {
  background-color: rgba(45, 45, 45, 1);
  color: rgba(245, 245, 245, 0.9);
}

.product-image {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.product-information {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.product-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.8rem;
  background-color: rgba(45, 45, 45, 1);
  color: rgba(245, 245, 245, 0.9);
}

.submit-button {
  display: flex;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.9);
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 0.8rem;
  font-size: 16px;
  cursor: pointer;
  gap: 0.5rem;
  width: auto;
  min-width: 55%;
}

.submit-text {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.submit-price {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
