/* You can add global styles to this file, and also import other style files */

.mat-primary {
  --mat-full-pseudo-checkbox-unselected-icon-color: rgba(245, 245, 245, 0.9);
}

html, body {
  height: 100%;
  background-color: rgba(18, 18, 18, 1);
  color: rgba(245, 245, 245, 0.9);
  --mat-select-panel-background-color: rgba(45, 45, 45, 1);
  --mat-select-enabled-arrow-color: rgba(245, 245, 245, 0.9);
  --mat-option-label-text-color: rgba(245, 245, 245, 0.9);
  --mdc-outlined-text-field-outline-color: rgba(245, 245, 245, 0.9);
  --mdc-outlined-text-field-hover-outline-color: rgba(245, 245, 245, 0.9);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
