<div class="restaurant-page">
  <div class="header">
    <img [src]='restaurant?.banner' alt="Here should be the restaurant's banner" class="header-banner">
    <div class="name-description">
      <h1 class="restaurant-name">{{ restaurant?.name }}</h1>
      <p class="description"> {{ restaurant?.description }} </p>
      <div class="detail-actions">
        <div class="more-information" (click)="moreInfoDialogOpen()"
             tabindex="0" (keydown.enter)="moreInfoDialogOpen()">
          <mat-icon>info</mat-icon>
          More information
        </div>
        @if (!isAuthorized) {
          <div class="edit-restaurant" (click)="routeToEditRestaurant()"
               tabindex="0" (keydown.enter)="routeToEditRestaurant()">
            <mat-icon>edit</mat-icon>
            Edit restaurant
          </div>
          <div class="create-product" (click)="openCreateProductDialog()"
               tabindex="0" (keydown.enter)="openCreateProductDialog()">
            <mat-icon>edit</mat-icon>
            Create product
          </div>
        }
      </div>
    </div>
  </div>
  <div class="menu">
    @for (productsInCategory of restaurant?.categoriesWithProducts; track productsInCategory) {
      <div class="menu-category-with-products">
        <h2>{{ productsInCategory.name }}</h2>
        <div class="products-in-category">
          @for (product of productsInCategory.products; track product) {
            <app-product-card [product]="product"></app-product-card>
          }
        </div>
      </div>
    }
  </div>
</div>
