<div class="restaurant-page">
  <div class="header">
    <img [src]='restaurant?.banner' alt="Here should be the restaurant's banner" class="header-banner">
    <div class="name-description">
      <h1 class="restaurant-name">{{ restaurant?.name }}</h1>
      <p class="description"> {{ restaurant?.description }} </p>
      <div class="detail-actions">
        <div class="fav-button" (click)="changeFavouriteState()"
             tabindex="0" (keydown.enter)="changeFavouriteState()">
          @if (alreadyInFavourites) {
            <mat-icon class="remove-fav-icon">star</mat-icon>
            Remove from favourites
          } @else {
            <mat-icon>star</mat-icon>
            Add to favourites
          }
        </div>
        <div class="actions">
          <div class="more-information" (click)="moreInfoDialogOpen()"
               tabindex="0" (keydown.enter)="moreInfoDialogOpen()">
            <mat-icon>info</mat-icon>
            More information
          </div>
          @if (isAuthorized) {
            <div class="edit-restaurant" (click)="routeToEditRestaurant()"
                 tabindex="0" (keydown.enter)="routeToEditRestaurant()">
              <mat-icon>edit</mat-icon>
              Edit restaurant
            </div>
            <div class="create-product" (click)="routeToCreateProduct()"
                 tabindex="0" (keydown.enter)="routeToCreateProduct()">
              <mat-icon>edit</mat-icon>
              Create product
            </div>
            <div class="restaurant-order" (click)="routeToRestaurantOrders()"
                 tabindex="0" (keydown.enter)="routeToRestaurantOrders()">
              <mat-icon>monitoring</mat-icon>
              View orders
            </div>
            <div class="restaurant-order" (click)="routeToRestaurantStatistics()"
                 tabindex="0" (keydown.enter)="routeToRestaurantStatistics()">
              <mat-icon>bar_chart</mat-icon>
              View statistics
            </div>
          }
        </div>
      </div>

    </div>
  </div>
  <div class="menu">
    <div *ngIf="isClosed && !isAuthorized" class="closed-overlay">
      Restaurant is Closed
    </div>
    @for (productsInCategory of restaurant?.categoriesWithProducts; track productsInCategory) {
      @if (productsInCategory.name !== 'Without Category' || isAuthorized) {
        <div class="menu-category-with-products">
          <h2>{{ productsInCategory.name }}</h2>
          <div class="products-in-category">
            @for (product of productsInCategory.products; track product) {
              <app-product-card [product]="product" [isAuthorized]="isAuthorized"></app-product-card>
            }
          </div>
        </div>
      }
    }
  </div>
</div>
