.restaurant-page {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 0;

  .header-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(20%);
    z-index: -1;
  }
}

.name-description {
  width: 100%;
  height: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  .restaurant-name {
    display: flex;
    font-size: 3em;
  }

  .description {
    display: flex;
    font-size: 1.5em;
    padding: 1em;
  }

  .detail-actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .actions {
      display: flex;
      gap: 1rem;
    }

    .fav-button, .more-information, .edit-restaurant, .create-product, .restaurant-order {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 1em;
      font-size: 12px;
      border-bottom: 1px solid white;
      cursor: pointer;

      .remove-fav-icon {
        color: gold;
      }
    }

    mat-icon {
      height: 12px;
      width: 12px;
      font-size: 12px;
    }
  }
}


.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 2em;

  .closed-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 100;
  }


  .menu-category-with-products {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

  }

  .products-in-category {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}




